* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(50, 1, 100) ;
}

h1{
    font-family: "Poppins", sans-serif;
    color:rgb(10, 10, 50);
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-family: "Poppins", sans-serif;
    color:rgb(40, 1, 83);
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 400;  
    margin-bottom: 15px;
}

p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: rgb(50,1, 100);
}

img {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

header{        
    height: 60px;
    width: auto;
    margin: 0;
}
  

#site-title{   
    margin-left: 20px;
    display: inline;   
    font-weight: bold;    
    text-shadow: 3px 3px 5px rgb(107, 100, 126); 
}

#site-title a {
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;
    font-weight: bold;  
    color:rgb(10,10,50) !important;
    margin-block-end: 5px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 1.5s;
}

#site-title a:hover{
    padding: 5px;
    padding-right: 20px !important;
    margin-right: 20px !important;
    font-size: 40px;
    font-weight: bolder;   
}


#toc{
  text-decoration: underline;
}

#top {
    float:left;
    margin-top:10px;
    margin: left 20px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    border: solid 1px;
    border-radius: 5px;
    width: auto;
    height: auto;
    opacity: 0.6;
}

#top a{
  text-decoration: none;
  transition-property: all;
  transition-duration: 1.5s;
}
#top:hover{
  border:none;
}



#top a:hover {
  padding: 10px;
  color: rgb(50, 1,100);
  border: solid 1px black;
  border-radius: 5px;
  font-size: 28px;   
}

#main-menu{
    padding: 5px;
    text-align:right;
    background-color: white;
    height: 40px;
}

#main-menu ul {
    margin-top: 10px;
}

#main-menu:hover{
    opacity: 1;
}

#main-menu ul li {
    list-style-type:none;
    display: inline;
    width: 40px;
}


.menuitem a {
    width: auto;
    height: auto;
    margin-right: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
    transition-property: all;
    transition-duration: 1s;
}

.menuitem a:hover {
    padding: 10px;
    background-color: rgb(140, 140, 140);
    color:rgb(10,10,50);
    border: solid 2px black;
    border-radius: 8px;
    font-size:30px;      
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;   
    opacity: 0.5; 
}


.sticky ul li a {
    padding-right: 10px !important;
    margin-right: 5px !important;
    font-size: 18px;    
  }
  



#page-hero h1 a {
    font-size: 50px;
    font-weight: 100;
    color: white !important;
    text-shadow: 5px 5px 5px rgb(183, 180, 180);
    text-decoration: none;
    transition-property: all;
    transition-duration: 1.5s;
  }

  
#page-hero h1 a:hover {
  font-size: 55px;

}
  #page-hero p {
    font-size: 40px;
    padding-left: 350px;
    color: white !important;
    text-shadow: 3px 3px 3px rgb(183, 180, 180);
  }

  .space20{
    height: 20px;
}

  .space50{
    height: 50px;
}

  .space100{
    height: 100px;
}

  .space200{
    height: 200px;
}


.page-grid-container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 10px;
  }


  .side-bar-right {
    padding-left: 10px;
    font-size: 30px;
    text-align: center;
  }

  .side-bar-left {
    padding-left: 20px;
    font-size: 30px;
    text-align: center;
  }

  .main{
    text-align: justify;
  }
  .main h1{
    text-align: left;
  }

  .index{
    color: rgb(85, 3, 161) !important;
  }

  .index ul{
    list-style: none;
  }

  .index h3 {
    font-size: 30px;
    font-weight: bolder;
  }
  .index ul li a {    
    font-size: 28px; 
    color: rgb(73, 3, 138);
    text-decoration: none; 
    transition-property: all;
    transition-duration: 0.5s;
  }

  .index ul li a:hover {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  color:rgb(2, 2, 241);
  text-shadow: 3px 3px 3px rgb(123, 117, 142);
  }

  .col3{
    display: grid;
    grid-template-columns: 25% 35% 40%;
    margin-top: 50px;
    overflow: hidden;
    gap: 25px;
  }

  .img3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 380px;    
  }

  .col2{
    display: grid;
    grid-template-columns: 50% 50% ;
    overflow: hidden;
    gap: 15px;
  }

  .img2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 380px;    
    margin-bottom: 50px;
  }

  .col2 h3, p {
    padding-left: 0;
}

  .media-right{
    display: grid;
    grid-template-columns: 60% 40% ;
  }

  .media-right h2, p {
    padding-left: 0;
}

  .media-right img {
    padding: 25px;
    padding-right: 0;
    width: cover ;
}

.pad-right{
  padding-right: 20px;
}

#par5 h2 {
    text-align: center;
}

#contact-link{
  margin-left: 10px;
  transition-property: all;
  transition-duration: 0.5s;
  
}

#contact-link:hover{
  font-size: 110%;
  color:rgb(25, 25, 193);
}

form{
  width:100%;
}
  

