* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(50, 1, 100) ;
}

h1{
    font-family: "Poppins", sans-serif;
    color:rgb(10, 10, 50);
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-family: "Poppins", sans-serif;
    color:rgb(40, 1, 83);
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
}

h3{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 400;  
    margin-bottom: 15px;
}

p{
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    color: rgb(50,1, 100);
    padding-right: 5px;
}

img {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }

header{        
    height: 60px;
    width: auto;
    margin: 0;
}
  

#site-title{   
    margin-left: 20px;
    display: inline;   
    font-weight: bold;    
    text-shadow: 3px 3px 5px rgb(107, 100, 126); 
}

#site-title a {
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;
    font-weight: bold;  
    color:rgb(10,10,50) !important;
    margin-block-end: 5px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
}

#site-title a:hover{
    padding: 5px;
    padding-right: 20px !important;
    margin-right: 20px !important;
    font-size: 40px;
    font-weight: bolder;   
}

#main-title h1{
  text-align: center;
}

#toc{
  text-decoration: underline;
}

#main-menu a{
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.5s;
}


#main-menu a:hover {
  margin: 5px;
  padding: 10px;
  font-size: 30px;
  color:rgb(10, 10, 50);
  text-shadow: 3px 3px 3px rgb(123, 117, 142); 
}

#main-menu-left {
    float:left !important;
}

#main-menu-left li a{
  margin-right: 10px;
}

#main-menu-right {
  float:right !important;
  text-align: right;
}

#main-menu-right li a{
  margin-left: 10px;
}


#main-menu ul li {
    list-style-type:none;
    display: inline;
}

.hide{
  display:none;
}

.show{
  display:block;
}
.sticky-menu{
  position: fixed;
  top: 0;
  width: 100%;  
  opacity: 0.8;
  }

.sticky-menu ul li{ 
  list-style-type:none;
  text-align: left;
  font-size: 30px;
}

.sticky-menu ul li a {
  padding-right: 10px !important;
  margin-right: 5px !important;
  color:rgb(50,1,100);
}

#sticky-menu-right a {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.5s;
}

#sticky-menu-left a {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.5s;
}

.menuitem a {
    text-decoration: none;   
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bolder;

}

.menuitem a:hover {
  margin: 5px;
  padding: 10px;
  font-size: 32px;
  color:rgb(10, 10, 50);
  text-shadow: 3px 3px 3px rgb(123, 117, 142);
    /*padding: 10px;
    background-color: rgb(243, 219, 175);
    color:rgb(10, 10, 50);
    border: solid 2px black;
    border-radius: 10px;
    font-size:30px;    */  
}



  .space20{
    height: 20px;
}

  .space50{
    height: 50px;
}

  .space100{
    height: 100px;
}

  .space200{
    height: 200px;
}


.page-grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }


  .side-bar-right {
    padding-left: 10px;
  }

  .main{
    text-align: justify;
    padding-right: 10px;
  }
  .main h1{
    text-align: left;
  }

  .index{
    background-color: rgb(240, 235, 230);
    padding: 10px;
  }
  .index ul{
    list-style: none;
  }

  .index h3 {
    font-size: 32px;
    font-weight: bolder;
  }
  .index ul li a {    
    font-size: 30px; 
    color: rgb(58, 1, 111);
    text-decoration: none; 
    transition-property: all;
    transition-duration: 0.5s;
  }

  .index ul li a:hover {
  margin: 5px;
  padding: 10px;
  font-size: 30px;
  color:rgb(10, 10, 50);
  text-shadow: 3px 3px 3px rgb(123, 117, 142);
  }

  .col3{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    overflow: hidden;
    gap: 15px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .col2{
    display: grid;
    grid-template-columns: 48% 50% ;
    overflow: hidden;
    gap: 15px;
  }



  .col2 h3, p {
    padding-left: 0;
}

  .media-right{
    display: grid;
    grid-template-columns: 60% 40% ;
  }

  .media-right h2, p {
    padding-left: 0;
}

  .media-right img {
    padding: 25px;
    padding-right: 0;
    width: cover ;
}

.pad-right{
  padding-right: 20px;
}

#par5 h2 {
    text-align: center;
}

#contact-link{
  margin-left: 10px;
  transition-property: all;
  transition-duration: 0.5s;
  
}

#contact-link:hover{
  font-size: 110%;
  color:rgb(10, 10, 50);
}

form{
  width:100%;
}