
# HVIF

<IfModule mod_rewrite.c>
Redirect /villas-france https://www.villanovo.com/villa-rentals/europe/france/?acode=aUfhoCvT

Redirect 301 /dune_du_pilat /dune-of-pyla








RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
